<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
	<tr>
		<h3>
			Please lend money for a cause !!!
		</h3>
	</tr>
	<tr>
		<div style="text-align: center;">
			<a href="http://milaap.org/campaigns/devadasis-get-life" target="_blank">
			<img src="{{ site.img-url }}/promotions/medium_help-ex-devadasi-women-start-independent-businesses.jpg"/></a>
		</div>
	</tr>
	<tr>
		<div style="text-align: left;">
		<p>Mahananda is one of an estimated 250,000 girls and women in southwestern India still dedicated to their local temple deities as "Devadasis" (meaning "servant of God"). This ancient and outlawed, yet still prevalent, practice originally gave Devadasis a comfortable life and high social standing, but began to be abused by the rich and powerful. Over the years, Devadasis were forced into prostitution to survive. 
		</p>

		<p>Mahananda, however, escaped the system with support from MASS, our field partner. Now a 34-year single mother, she has started her own tailoring business, and is proud that her business will enable her two daughters to complete their education and embark on their own careers.</p>

		<p>MASS provides financial support to former Devadasi women like Mahananda to start small businesses like tailoring, rearing livestock, and running small shops. These businesses help them pay their children’s school fees, generate a livelihood for their families, and save for their old age. Becoming entrepreneurs also offers their children a better future, helps integrate them back into society, and eventually break free of the vicious cycle of prostitution that most Devadasis are doomed to.</p>

		<p>Please <a href="http://milaap.org/campaigns/devadasis-get-life" target="_blank">click here</a> to help generously !!!</p>
		</div>
	</tr>
	</tbody>
</table>



