<div style="text-align:center;">

<div style="display:inline-block; padding-right: 15px;">
<a href="http://twitter.com/home?status={{ page.title }} - {{ site.url }}{{ page.url }} via @prem82" target="_blank">
<img src="{{ site.img-url }}/social-share/twitter-share-button.png" alt="tweet this">
</a>
</div>

<div style="display:inline-block;">
<a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" target="_blank">
<img src="{{ site.img-url }}/social-share/facebook-share-button.png"  alt="share in facebook"></a>
</div> 

</div> 