<div style="text-align:center;">
	<p><span style="color: #C0C0C0">Subscribe: </span><a href="{{ site.url }}/rss.xml" target="_blank">rss</a> | 
	<a href="{{ site.url }}/atom.xml" target="_blank">atom</a> |
	<a href="http://eepurl.com/Iztq5" target="_blank">email</a> |
	<a href="https://twitter.com/prem82" target="_blank">twitter</a> |
	<a href="https://www.facebook.com/prem82" target="_blank">facebook</a> |
	<a href="https://plus.google.com/+PremkumarMasilamani?rel=author" target="_blank">google+</a></p>
</div>
