<div style="margin:0px; padding:10px; background:#F8F8FF; border:1px solid #CCCCFF; color:black">
<b>Prem Recommends...</b><br>
Here are my recommendations for products and services I've reviewed that can improve your life. This is a short list since it only includes my top picks.<br><br>
<a href="http://www.sitesell.com/smileprem.html">Site Build It!</a> - Use SBI to start your own money-making website<br>
<a href="https://www.entheos.com/academy/?c=smileprem">The Academy for Optimal Living</a> - The secret sauce to authentic awesomeness<br>
<!--
<a href="http://www.stevepavlina.com/blog/2009/10/remove-a-limiting-belief-in-about-20-minutes/">Lefkoe Method</a> - Permanently eliminate a limiting belief in 20 minutes (registered, yet to get a link)<br>
<a href="http://www.stevepavlina.com/grwe">Getting Rich with Ebooks</a> - Earn passive income from ebooks (trying to register)<br>
<a href="http://www.stevepavlina.com/photoreading/">PhotoReading</a> - Read books 3 times faster (applied for affiliate program)<br>
<a href="http://www.stevepavlina.com/paraliminals/">Paraliminals</a> - Condition your mind for positive thinking and success (applied for affiliate program)<br>
-->
<br>
<div style="float:left;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="JX6JCD8QBZ5SC">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<div style="width: 60%; float:right;">
If you've found my work helpful, please donate to show your support.
</div><br><br><br>
Get Prem's <a href="http://smileprem.us3.list-manage1.com/subscribe/post?u=56bd04be26e921e250b01116b&id=e5d97cedaa">Free Newsletter</a> to stay in touch and receive the newest updates. No spam guaranteed. Unsubscribe any time.
</div>




